/* ===========Products CSS Data========== */
.product-select-page-img-1 {
  background: url(../Images/store-1.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-2 {
  background: url(../Images/store-2.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-3 {
  background: url(../Images/store-3.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-4 {
  background: url(../Images/store-4.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-5 {
  background: url(../Images/store-5.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-6 {
  background: url(../Images/store-6.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-7 {
  background: url(../Images/store-7.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-8 {
  background: url(../Images/store-8.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-9 {
  background: url(../Images/store-9.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-10 {
  background: url(../Images/store-10.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-11 {
  background: url(../Images/store-11.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}

.product-select-page-img-12 {
  background: url(../Images/store-12.jpg) no-repeat;
  background-size: inherit;
  background-position: center center;
  content: '';
  width: 100%;
  height: 400px;
}
