*{
	padding: 0px;
	margin: 0px auto;
}
body{
	width: 1600px;
}



/*===---List---===*/

/*--Text Size--*/
.head{
	font-size: 48px;
	line-height: 56px;
	font-weight: bold;
	color: #000000;
}
.head-text{
	font-size: 21px;
	line-height: 32px;
	font-weight: lighter;
	color: #7D7987;
}
.section-head{
	font-size: 36px;
	line-height: 56px;
	font-weight: bold;
	color: #000000;
}
.section-head-text{
	font-size: 18px;
	line-height: 38px;
	font-weight: lighter;
	color: #7D7987;
	margin-top: 33px;
}
.card-head{
	font-size: 24px;
	line-height: 56px;
	font-weight: bold;
	color: #000000;
}
.card-text{
	font-size: 16px;
	line-height: 28px;
	font-weight: lighter;
	color: #7D7987;
}
.card-head2{
	font-size: 21px;
	line-height: 32px;
	font-weight: bold;
	color: #000000;
}
.footer-main-head{
	font-size: 24px;
	line-height: 30px;
	font-weight: bolder;
	color: #ffffff;
}
.footer-head{
	font-size: 20px;
	line-height: 33px;
	font-weight: bolder;
	color: #ffffff;
}
.footer-text{
	font-size: 18px;
	line-height: 28px;
	font-weight: lighter;
	color: #ffffff;
}
/*--Text Size End--*/


/*--Buttons--*/
.button1{
	width: 200px;
	height: 60px;
	font-size: 18px !important;
	font-weight: bold !important;
	background: #458FF6 !important;
}
.button2{
	width: 200px;
	height: 60px;
	font-size: 18px !important;
	font-weight: bold !important;
	border-color: #458FF6 !important;
	color: #458FF6 !important;
}
.card-link{
	font-size: 17px;
	line-height: 28px;
	color: #4089ED;
}
/*--Buttons End--*/

/*===---List End---===*/



/*---Header---*/
header{
	width: 1437px;
	height: 719px;
	margin-top: 56px;
}
/*--==Navbar==--*/
.navbar-brand{
	margin-left: 190px;
}
.navbar-nav{
	margin-right: 192px;
}
.navi1{
	font-size: 18px;
	line-height: 23px;
	font-weight: bolder;
}
.navi2{
	font-size: 18px;
	line-height: 23px;
	opacity: 80%;
	mix-blend-mode: darken;
}
/*--==Navbar End==--*/
.section1-element1{
	margin-top: 63px;
	/*margin-left: -40px;*/
}
.heading{
	margin-left: 190px;
	margin-top: 8px;
	width: 445px;
	height: 338px;
	display: block;
}
.section1-img{
	margin-right: 163px;
	margin-top: 84px;
	width: 693px;
	height: 598px;
	display: block;
}
/*---Header End---*/


/*---Section1---*/
#section1{
	background: url(../Images/bg-element.png) no-repeat;
	background-size: auto;
}
.section1-about{
	margin-top: 190px;
	width: 1410px;
	height: 1133px;
}
.sec1-head{
	width: 952px;
}
.services{
	margin-top: 80px;
	width: 1120px;
	height: 745px;
}
.rounded-lg{
	border-radius: 50px !important;
	box-shadow: 0px 10px 40px 0px rgba(229, 233, 246, 0.6);
}
.card-margin{
	margin: 0 17px 37px 17px !important;
}
.card-deck-element{
	position: absolute;
	z-index: -10;
	margin-left: -75px;
	margin-top: -100px;
}
.card-icon{
	margin-top: 17px;
	margin-bottom: 22px;
}
.card-body-margin{
	margin: 37px;
}
.section1-button{
	margin-top: 69px;
}
/*.section-head::after{
	background-color: #000000;
    content: "";
    height: 2px;
    position: absolute;
    width: 56px;
    margin-top: 61px;
    margin-left: -130px;
}*/
.underline1{
	background-color: #000000;
    content: "";
    height: 2px;
    width: 56px;
    margin-top: 26px;
    /*position: absolute;*/
}
/*---Section1 End---*/


/*---Section2---*/
.section2-about{
	width: 1273px;
	height: 477px;
	margin-top: 220px;
}
.sec2-illustration{
	width: 650px;
	/*height: 477px;*/
}
.sec2-text{
	width: 486px;
	height: 388px;
	margin-left: 137px;
	margin-top: 57px;
	margin-bottom: 32px;
}
.underline2{
	background-color: #000000;
    content: "";
    height: 2px;
    /*position: absolute;*/
    width: 56px;
    margin-top: 26px;
    margin-left: 0px;
}
/*---Section2 End---*/


/*---Section3---*/
.sec3-div{
	width: 1156px;
}
.sec3-text{
	width: 420px;
	height: 375px;
	margin-top: 162px;
}
.sec3-illustration{
	margin-top: 126px;
	width: 665px;
	height: 434px;
	margin-left: 71px;
}
/*---Section3 End---*/


/*---Section4---*/
.underline3{
	background-color: white;
    content: "";
    height: 2px;
    width: 56px;
    margin-top: 26px;
    /*position: absolute;*/
}
.card-slide{
	width: 1120px;
	height: 425px;
	margin-top: 251px;
	margin-left: 241px;
	margin-right: 238px;
}
.border-bottom{
	background-color: #ffffff;
    content: "";
    height: 2px;
}
.gradiant-bg{
	background: linear-gradient(180deg, #67C3F3, #5A98F2);
}
.slider-element1-bg{
	background: url(../Images/card-element.png) no-repeat;
	/*background-size: auto;*/
	background-position: right -60px top -14px;
}
.slider-head{
	font-size: 36px;
	line-height: 48px;
	color: #ffffff;
	margin-top: 64px;
}
.customer-img{
	width: 141px;
	height: 141px;
	margin-top: 66px;
	margin-left: 118px;
}
.customer-info{
	margin-top: 95px;
	margin-left: 29px;
}
.customer-name{
	font-size: 22px;
	line-height: 48px;
	font-weight: bold;
	color: #ffffff;
}
.customer-prof{
	font-size: 18px;
	line-height: 24px;
	/*font-weight: lighter;*/
	color: #ffffff;
}
.slider-text{
	font-size: 19px;
	line-height: 30px;
	font-weight: lighter;
	color: #ffffff;
	height: 120px;
	width: 420px;
	margin-top: 77px;
	margin-left: 110px;
	margin-right: 118px;
}
.slider-element1{
	margin-top: -170px;
	margin-left: 175px;
	position: absolute;
	z-index: -100;
}

/*--Slick Slider--*/
.slick-dots {
    position: absolute;
    bottom: -30px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
/*.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}*/
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 55px !important;
    line-height: 20px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px !important;
    height: 65px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #5B9BF3 !important;
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
}
/*Slick Slider Aerow*/
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 102% !important;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    /*-webkit-transform: translate(0, -50%);*/
    /*-ms-transform: translate(0, -50%);*/
    transform: translate(0, -50%);
    cursor: pointer;
    color: #5B9BF3 !important;
    border: none;
    outline: none;
    /*background: #bd2130;*/
    left: 60% !important;
}
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    /*opacity: 1;*/
    color: #5B9BF3 !important;;
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
}
.slick-prev{
	font-size: 0;
    line-height: 0;
    position: absolute;
    top: 102% !important;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    /*-webkit-transform: translate(0, -50%);*/
    /*-ms-transform: translate(0, -50%);*/
    transform: translate(0, -50%);
    cursor: pointer;
    color: #5B9BF3 !important;
    border: none;
    outline: none;
    /*background: #bd2130;*/
    left: 39% !important;
}
.slick-prev:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    /*opacity: 1;*/
    color: #5B9BF3 !important;;
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
}

/*---Section4 End---*/


/*---Section5---*/
.section5-about{
	margin-top: 216px;
	background: url(../Images/bg-element2.png) no-repeat;
	background-size: auto;
	background-position: right -8px;
}
.sec5-card-deck{
	width: 1120px;
	margin-top: 79px;

}
.sec5-card{
	width: 350px !important;
	height: 512px !important;
}
.section5-top-element-margine{
	margin-top: -50px;
	z-index: -10;
	position: absolute;
	margin-left: -50px;
}
.section5-bottom-element-margine{
	margin-top: 125px;
	z-index: -10;
	position: absolute;
	margin-left: -192px;
}
.card-link{
	color: #4089ED !important;
}
.sec5-btn{
	margin-top: 69px;
}
/*---Section5 End---*/


/*--Footer--*/
footer{
	background: linear-gradient(180deg, #67C3F3, #5A98F2);
	/* overflow-y: hidden; */
	margin-top: 200px;
	overflow: hidden;
}
.footer-about{
	overflow: hidden;
}
.footer-margin{
	margin-top: 118px;
	margin-bottom: 113px;
}
.col1{
	margin-top: 216px;
	position: absolute;
	margin-left: -32px;
}
.col2{
	margin-left: 170px;
	width: 391px !important;
}
.fill-circle{
	background: url(../Images/Ellipse.png) no-repeat;
	background-size: contain;
}
.footer-text2-margin{
	margin-top: 31px;
}
.about-T{
	font-size: 26px;
	line-height: 33px;
	font-weight: bold;
	color: #5B9BF3;
	margin-left: 9px;
}
.foot-traf{
	margin-left: 15px;
}
/*--Footer end--*/